/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,400,500,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 228.6%; }

h2 {
  font-size: 171.4%; }

h3 {
  font-size: 128.6%; }

h4 {
  font-size: 114.3%; }

h5 {
  font-size: 100%; }

h6 {
  font-size: 85.7%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

.container {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  margin: auto;
  padding: 0 10px; }
  @media only screen and (min-width: 768px) {
    .container {
      max-width: 740px;
      padding: 0; } }
  @media only screen and (min-width: 991px) {
    .container {
      max-width: 990px; } }
  @media only screen and (min-width: 1199px) {
    .container {
      max-width: 1200px; } }
  .container .row {
    width: 100%;
    float: left;
    -webkit-flex-direction: row;
    flex-direction: row; }
    .container .row.row-justify {
      -ms-box-orient: horizontal;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -moz-flex;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between; }
    .container .row.row-center {
      justify-content: center; }
    .container .row.row-middle {
      -ms-flex-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      align-items: center; }

.noDisplay {
  display: none !important; }

.hidden-xs {
  display: none; }

.visible-xs {
  display: block; }

@media only screen and (min-width: 768px) {
  .hidden-xs {
    display: block; }

  .visible-xs {
    display: none; } }
.pull-left {
  float: left; }

.pull-right {
  float: right; }

.padding-LR-0 {
  padding-left: 0;
  padding-right: 0; }

.padding-L-0 {
  padding-left: 0; }

.padding-R-0 {
  padding-right: 0; }

* {
  margin: 0; }

body, html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  font-size: 14px; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; }
  .page-wrap:after {
    content: "";
    display: block;
    height: 142px; }

.image-responsive {
  max-width: 100%;
  height: auto; }

section.module {
  width: 100%;
  height: auto;
  float: left; }

.card-wrap {
  width: 100%;
  height: auto;
  display: block; }
  .card-wrap md-card {
    width: 100%;
    margin: 0;
    -webkit-flex-direction: column;
    flex-direction: column; }
    @media only screen and (min-width: 768px) {
      .card-wrap md-card {
        -webkit-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap; } }
    .card-wrap md-card img.image-responsive {
      max-width: 250px;
      margin: 0 auto; }
      @media only screen and (min-width: 768px) {
        .card-wrap md-card img.image-responsive {
          width: 25%;
          max-width: none; } }
    .card-wrap md-card h1.card-title {
      text-align: center;
      font-style: italic;
      font-weight: 300; }
      .card-wrap md-card h1.card-title span {
        font-size: 50%; }
      @media only screen and (min-width: 768px) {
        .card-wrap md-card h1.card-title {
          margin-top: 20px;
          width: 75%; } }
    .card-wrap md-card md-card-content {
      border-top: 1px solid #d0d0d0; }
      @media only screen and (min-width: 768px) {
        .card-wrap md-card md-card-content {
          width: 100%;
          -ms-box-orient: horizontal;
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -moz-flex;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: row;
          flex-direction: row;
          justify-content: center; } }
      .card-wrap md-card md-card-content .list-title {
        margin: 10px 0;
        border-bottom: 1px solid #d0d0d0; }
        .card-wrap md-card md-card-content .list-title h3 {
          font-weight: 200; }
      .card-wrap md-card md-card-content .detail-block {
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        margin: 0 5px;
        width: 100%; }
        @media only screen and (min-width: 768px) {
          .card-wrap md-card md-card-content .detail-block.attributes {
            width: 60%; }
          .card-wrap md-card md-card-content .detail-block.abilities, .card-wrap md-card md-card-content .detail-block.type {
            width: 20%; } }
      .card-wrap md-card md-card-content ul.pokemon-attributes {
        width: 100%; }
        @media only screen and (min-width: 768px) {
          .card-wrap md-card md-card-content ul.pokemon-attributes {
            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center; } }
        .card-wrap md-card md-card-content ul.pokemon-attributes li.attribute {
          margin: 10px 0; }
          @media only screen and (min-width: 768px) {
            .card-wrap md-card md-card-content ul.pokemon-attributes li.attribute {
              width: 45%;
              margin: 10px 5px; } }
          .card-wrap md-card md-card-content ul.pokemon-attributes li.attribute .title {
            font-size: 85.7%; }
          .card-wrap md-card md-card-content ul.pokemon-attributes li.attribute .value {
            font-weight: 700; }
          .card-wrap md-card md-card-content ul.pokemon-attributes li.attribute .out-of {
            font-size: 71.4%;
            font-style: italic; }
      .card-wrap md-card md-card-content .pokemon-abilities .ability, .card-wrap md-card md-card-content .pokemon-abilities .type, .card-wrap md-card md-card-content .pokemon-types .ability, .card-wrap md-card md-card-content .pokemon-types .type {
        text-transform: uppercase;
        font-size: 85.7%;
        font-style: italic; }
        .card-wrap md-card md-card-content .pokemon-abilities .ability:last-child .divider, .card-wrap md-card md-card-content .pokemon-abilities .type:last-child .divider, .card-wrap md-card md-card-content .pokemon-types .ability:last-child .divider, .card-wrap md-card md-card-content .pokemon-types .type:last-child .divider {
          display: none; }

.containerBar {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  height: 30px; }

.maxValue {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  background-color: #555;
  overflow: hidden; }

.currentValue {
  position: absolute;
  left: 0px;
  z-index: 1;
  height: 100%;
  border-radius: 5px;
  background-color: #99cc00; }

/* Sub value bar animation on change. You need to include ngAnimate module for this */
.currentValue {
  -webkit-transition: all ease-out 0.8s;
  transition: all ease-out 0.8s; }

.infoText {
  font-weight: bold;
  position: absolute;
  width: 100%;
  text-align: center;
  color: #fff;
  z-index: 2;
  padding-top: 5px;
  text-shadow: 1px 1px #444; }

.containerBar {
  height: 5px; }
  .containerBar .currentValue {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .containerBar .maxValue {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }

header {
  width: 100%;
  height: 65px;
  float: left;
  margin-bottom: 20px;
  background-color: #607d8b; }
  header h3.logo {
    margin-right: 5px;
    display: flex;
    color: white;
    font-size: 90%;
    font-weight: 300;
    line-height: 65px;
    white-space: nowrap; }
    @media only screen and (min-width: 768px) {
      header h3.logo {
        margin-right: 15px;
        font-size: 128.6%; } }
  header form {
    max-width: 110px;
    display: flex;
    margin: 0 5px; }
    @media only screen and (min-width: 768px) {
      header form {
        width: 50%;
        max-width: none; } }
    header form md-input-container {
      width: 100%; }
  header md-input-container.header-search {
    padding: 0; }
  header md-input-container label:not(.md-no-float), header md-input-container .md-placeholder {
    color: white; }
  header md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused, header md-input-container:not(.md-input-invalid).md-input-focused label {
    color: white; }
  header md-input-container.md-default-theme, header md-input-container .md-input {
    color: white;
    border-color: white; }
  header md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused, header md-input-container:not(.md-input-invalid).md-input-focused .md-input {
    color: white;
    border-color: white; }
  header md-input-container.md-default-theme label,
  header md-input-container.md-default-theme .md-placeholder {
    color: white !important; }
  header .md-button {
    min-width: 0;
    width: auto;
    min-height: 0;
    height: 45px;
    margin: 6px 5px;
    line-height: 1;
    font-size: 65%; }
    @media only screen and (min-width: 768px) {
      header .md-button {
        min-width: 88px;
        min-height: 36px;
        margin: 6px 8px;
        line-height: 36px;
        font-size: 85%; } }

footer {
  width: 100%;
  height: 142px;
  float: left;
  margin-top: 20px;
  background-color: #435761; }
  footer .powered-by p {
    margin: 10px auto;
    color: white;
    text-align: center; }
  footer .powered-by a.api-logo {
    width: 60px;
    height: 60px;
    display: block;
    margin: auto;
    color: white;
    text-align: center;
    text-decoration: none; }

md-dialog md-dialog-content {
  overflow: hidden;
  padding: 30px;
  text-align: center;
  line-height: 1.5; }

/*# sourceMappingURL=style.css.map */
