<!DOCTYPE html>
<html lang="en" ng-app="pokedex">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="Description" content="William S Fuller, Front End Engineer">

  <title>Angular Pokedex</title>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/vendor-styles.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body ng-controller="pokedexCtrl">



<md-toolbar class="md-toolbar-tools md-default-theme">
  <h3>AngularJS Pokedex</h3>
  <input placeholder="search" type="text" ng-model="user.search">


</md-toolbar>


<section class="module">
  <div ng-repeat="pokemon in pokemons">
    {{pokemon.name}}

    <img ng-src="http://pokeapi.co/media/img/{{pokemon.pkdx_id}}.png"/>
    <span>Attack: {{pokemon.data.defense}}</span>
    <span>Defense: {{pokemon.defense}}</span>
    <span>Experience: {{pokemon.exp}}</span>
    <span>Height: {{pokemon.height}}</span>

  </div>
</section>


<script src="js/app.js"></script>
</body>
</html>