<!DOCTYPE html>
<html lang="en" ng-app="pokedex">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta name="Description" content="William S Fuller, Front End Engineer">

  <title>Angular Pokedex</title>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/vendor-styles.css" media="all" />
  <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />
</head>
<body ng-controller="pokedexCtrl">



  <md-toolbar class="md-toolbar-tools md-default-theme">
    <div class="container">
      <!-- LOGO -->
      <h3>AngularJS Pokedex</h3>
      <!-- // logo -->
      <!-- SEARCH INPUT -->
      <form ng-submit="search()">
        <input placeholder="placeholder text" type="text" ng-model="searchCharacter" />

      </form>
      <!-- // search -->

      <!-- RANDOM GENERATOR BUTTON -->
      <!-- // generator -->

      <!-- HELP DROPDOWN -->

      <!-- // help -->

      <!-- POWERED BY -->
      <a href="http://pokeapi.co/"><span>Powered By:</span><img src="img/pokeapi-logo.png"/></a>
      <!-- // powered by -->
    </div>
  </md-toolbar>

<div class="container">
  <section class="module">
    {{name}}
    <div ng-repeat="pokemon in characters">
      <md-grid-list md-cols-sm="1">
        <md-content class="md-padding">
          <md-card>
            <img class="image-responsive" ng-src="http://pokeapi.co/media/img/{{pokemon.pkdx_id}}.png"/>
            <md-card-content>
              <h2 class="md-title">
                {{pokemon.name}}
              </h2>
              <div>Attack: {{pokemon.attack}}</div>
              <div>Defense: {{pokemon.defense}}</div>
              <div>Experience: {{pokemon.exp}}</div>
              <div>Height: {{pokemon.height}}</div>
              <div>Hit Points: {{pokemon.hp}}</div>
              <div>
                Abilities:
                <ul>
                  <li ng-repeat="ability in pokemon.abilities">
                    {{ability.name}}
                  </li>
                </ul>
              </div>
            <span>
              Type:
              <ul>
                <li ng-repeat="type in pokemon.types">
                  {{type.name}}
                </li>
              </ul>
            </span>



            </md-card-content>
          </md-card>
        </md-content>
      </md-grid-list>





    </div>
  </section>




</div>




<script src="js/app.js"></script>
</body>
</html>