@mixin flex{
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

@mixin flex-direction($direction){
  -webkit-flex-direction: $direction;
  flex-direction: $direction;
}

@mixin flex-justify($justify){
  justify-content: $justify;
}

@mixin flex-align($align){
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  -webkit-box-align: $align;
  align-items: $align;
}