.container{
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0 10px;
  @include break-sm{
    max-width: 740px;
    padding: 0;
  }
  @include break-md{
    max-width: 990px;
  }
  @include break-lg{
    max-width: 1200px;
  }
}