.container{
  @include flex;
  margin: auto;
  padding: 0 10px;
  @include break-sm{
    max-width: 740px;
    padding: 0;
  }
  @include break-md{
    max-width: 990px;
  }
  @include break-lg{
    max-width: 1200px;
  }
  .row{
    width: 100%;
    float: left;
    @include flex-direction(row);
    &.row-justify{
      @include flex;
      @include flex-justify(space-between);
    }
    &.row-center{
      @include flex-justify(center);
    }
    &.row-middle{
      @include flex-align(center);
    }
  }
}

.hidden-xs{
  display: none;
}
.visible-xs{
  display: block;
}
@include break-sm{
  .hidden-xs{
    display: block;
  }
  .visible-xs{
    display: none;
  }
}



.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.padding-LR-0{
  padding-left: 0;
  padding-right: 0;
}

.padding-L-0{
  padding-left: 0;
}

.padding-R-0{
  padding-right: 0;
}
