$footer-height: 125px;

footer{
  width: 100%;
  height: $page-wrap-value;
  float: left;
  margin-top: 20px;
  background-color: $primary-color-dk;
  .powered-by{
    p{
      margin: 10px auto;
      color: $font-color-lt;
      text-align: center;
    }
    a.api-logo{
      width: 60px;
      height: 60px;
      display: block;
      margin: auto;
      color: $font-color-lt;
      text-align: center;
      text-decoration: none;
    }
  }
}