$header-height: 65px;

header{
  width: 100%;
  height: $header-height;
  float: left;
  margin-bottom: 20px;
  background-color: $primary-color;
  h3.logo{
    margin-right: 5px;
    display: flex;
    color: $font-color-lt;
    font-size: 90%;
    font-weight: 300;
    line-height: $header-height;
    white-space: nowrap;
    @include break-sm{
      margin-right: 15px;
      font-size: $font-size-h3;
    }
  }


  // SEARCH INPUT
  form{
    max-width: 110px;
    display: flex;
    margin: 0 5px;
    @include break-sm{
      width: 50%;
      max-width: none;
    }
    md-input-container{
      width: 100%;
    }
  }
  md-input-container.header-search {
    padding: 0;
  }
  md-input-container label:not(.md-no-float), md-input-container .md-placeholder{
    color: $font-color-lt;
  }
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused, md-input-container:not(.md-input-invalid).md-input-focused label{
    color: $font-color-lt;
  }
  md-input-container.md-default-theme, md-input-container .md-input{
    color: $font-color-lt;
    border-color: $font-color-lt;
  }
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused, md-input-container:not(.md-input-invalid).md-input-focused .md-input{
    color: $font-color-lt;
    border-color: $font-color-lt;
  }
  md-input-container.md-default-theme label,
  md-input-container.md-default-theme .md-placeholder{
    color: $font-color-lt !important;
  }
  // RANDOM BUTTON
  .md-button{
    min-width: 0;
    width: auto;
    min-height: 0;
    height: $header-height - 20;
    margin: 6px 5px;
    line-height: 1;
    font-size: 65%;
    @include break-sm{
      min-width: 88px;
      min-height: 36px;
      margin: 6px 8px;
      line-height: 36px;
      font-size: 85%;
    }
  }


}